body{
    min-width: 800px;
    min-height: 600px;
    background-color: white;
}
.stuff{
    background-image: linear-gradient(#95BA27, #7a9821);
    height: 30px;
    padding: 4px;
    margin-top: 40px;
    border-radius: 2px;
    box-shadow: gray;

}
.pos{
    margin-left: 120px;
}
.stuff a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    text-align: center;
    font-family: Verdana;
}
#meni{
    height: 120px;
    position: absolute;
    top:0;
}
.content{
    height:420px;
}
.content h1{
    color: #92CD00;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    font-family: SansSerif;
}
.content p, .content ol, .content dl{
    color: #192402;
    font-weight: bold;
    font-family: "Times New Roman";
    line-height: 150%;
}
#slice{
    float:right;
    width: 50%;
    height: 90%;
}
footer{
    height: 30px;
    color: #ffffff;
    background-color: #81b518;
    text-align: center;
}
